.input-texto {
    border: 1px solid #999;
    /* border-radius: 4px; */
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    padding: 10px 5px;
    margin: 15px auto;
    text-align: center;
}

.btn {
    min-width: 100px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    margin-top: 5px;
    background: #72cae0;
}

.btn-link {
    background: none;
    color: #329eb9;
    font-size: 14px;
    border: none;
    margin: 15px auto;
}

.busca-corpo {
    flex-direction: column;
}
.busca-principal {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 5;
}

.busca-principal form {
    width: 50%;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.busca-principal .titulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 25px auto;
    flex: 1;
}

.busca-principal .logo {
    flex: 3;
    /* border: 1px solid black; */
    align-items: flex-end;
}

.busca-principal .logo img {
    width: 170px;
    height: 150px;
}

.busca-pre-lista {
    flex: 1;
    /* background: #999; */
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.busca-pre-lista #exibir-lista {
    display: none;
    cursor: pointer;
}

.busca-pre-lista .lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.busca-pre-lista .lista li {
    display: inline;
    margin: 5px;
    width: 200px;
    /* box-shadow: 0px 0px 1px 2px #DDD; */
}

li .usuario {
    display: flex;  
    flex-direction: column; 
}

li .usuario img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

li .usuario .dados {
    flex: 2;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-top: 5px;
}