.lista-corpo {
    flex-direction: column;
}

.lista-corpo .lista-principal {
    flex-direction: column;
    margin-top: 20px;
    overflow: auto;
    
}

.lista-usuario-item {
    width: 80%;
    max-width: 800px;
    height: 90px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px #F0F0F0;
    margin: 5px auto;
    padding: 5px;
}

.lista-usuario-item .usuario-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    cursor: pointer;
}

.lista-usuario-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.lista-usuario-item .usuario-item-dados {
    flex: 1;
    padding: 0px 5px;
    flex-direction: column;
}

.usuario-item-dados .nome {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    color: #222;
    margin-top: 10px;
}

.usuario-item-dados .bio {
    flex: 3;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
    /* border: 1px solid black; */
}

.lista-usuario-item .acoes {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.btn-seguir {
    /* height: 30px; */
    /* width: ; */
    border: none;
    padding: 5px 5px;
    background: #72e0c4;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
}

.btn-sair {
    border: none;
    padding: 5px 5px;
    background: #aaaaaa;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
}