.detalhes-principal {
    flex-direction: column;    
    padding: 10px 0px;
}

.avatar {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.nome { 
    font-size: 25px;
    height: 50px;
    font-weight: bold;
    justify-content: center;
    margin-top: 15px;
}

.acoes {
    justify-content: center;
    height: 60px;
    width: 200px;
    margin: 10px auto;
}

.bio {
    font-size: 18px;
    height: 50px;
    color: #555;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin: 15px auto;
}

.subtitulo {
    width: 100%;
    background: #DDD;
    text-align: center;
    padding: 10px 0px;
}

.lista-repositorios {
    width: 90%;
    /* min-height: 200px;
    overflow: auto; */
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: center;
    /* max-height: 150px; */
    /* border: 1px solid black; */
    /* padding: 10px 5px; */
}

.lista-repositorios .item-repositorios {
    /* height: 50px; */
    width: 100%;
    display: flex;
    flex: 2;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 10px 0px;
}

.item-repositorios .repositorio-nome {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    /* justify-content: center; */
}

.item-repositorios .repositorio-descricao {
    flex: 3;
    /* justify-content: center; */
    align-items: center;
    font-size: 16px;
    color: #555;
    /* border-bottom: 1px solid #DDD; */
}